body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
  background-color: #f8f9fb;
}

header {
  background-color: #004aad;
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.container img {
  transform: translateX(15px);
  width: 60px;
  height: 100%;
}

header h1 a {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.container .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

.hero {
  background: linear-gradient(to right, #004aad, #0073e6);
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  background-color: #0073e6;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  border-left: 6px solid #1b3b97;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}


/* --- Título --- */
.content h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.content article {
  
}

/* --- Formulário --- */
.contato-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* --- Campos --- */
.contato-form label {
  font-weight: 600;
  color: #444;
}

.contato-form input,
.contato-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  transition: all 0.2s ease;
}

.contato-form input:focus,
.contato-form textarea:focus {
  outline: none;
  border-color: #005bbb;
  box-shadow: 0 0 4px rgba(0, 91, 187, 0.4);
}

/* --- Botão --- */
.btn {
  background: #005bbb;
  color: #fff;
  padding: 12px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  transition: 0.3s;
}

.btn:hover {
  background: #004096;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.servicos-preview h3 {
  text-align: center;
  margin-block: 20px;
}

footer {
  bottom: 0%;
  position: fixed;
  width: 100%;
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

#menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 1.5em;
  border: none;
}

/* Responsividade */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: #004aad;
  }

  nav.show {
    display: flex;
  }

  #menu-toggle {
    display: block;
  }
}